@import "vars";
@import "mixins";

.addpet__button-size {
    width: 174px;
    height: 32px;
}

.addpet__button {
    background: transparent;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    z-index: 1;
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.addpet__button:hover {
    background: rgb(0, 179, 255);
    transition: all 0.3s;
}

.slaider__pet_name {
    background: transparent;
    text-align: center;
    border: none;
}

.slaider__pet_name::placeholder {
    color: white;
}